<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/output.css" />
    <title>Rick & Morty</title>
  </head>
  <body class="bg-slate-300 grid grid-cols-1 grid-rows-layout md:grid-cols-2 md:grid-rows-layout2  gap-y-10 font-horror w-full h-screen">
    <div class="header flex justify-center items-center col-span-2 mt-3">
      <img class="size-12 animate-pulse hover:animate-spin" src="./images/rick.png" alt="rick-image" />
      <h1 class="text-blue-600 font-bold text-4xl mx-1">
        Rick <span class="text-blue-400 hover:text-2xl">&</span> Morty 
      </h1>
      <img class="size-10 animate-pulse hover:animate-spin" src="./images/Morty.webp" alt="morty-image">
    </div>
    <!---->
    <div class="row-start-2 md:col-start-1 md:col-end-2 place-self-start justify-self-center">
        <form method="post" class="grid place-items-end">
            <div class="flex mb-5">
                <label for="char-id">Id:</label>
                <input inputmode="numeric" id="char-id" name="id" autocomplete="off">
            </div>
            <div>
                <label for="char">Name:</label>
                <input type="text" id="char" name="character" autocomplete="off">
            </div>
            <button id="btn" class="mt-3 border w-10 place-self-center md:place-self-auto md:self-end px-2 rounded-md border-green-500 bg-green-500 hover:brightness-110">🥒</button>
        </form>
    </div>
    <div class="pl-3 justify-self-center row-start-3 mb-5 md:place-self-start md:col-start-2 md:row-start-2 md:mt-0">
            <% if(locals.data){ %>
              <ul class="text-lg font-bold text-blue-800">Charcter Info:
                <li><span class="text-blue-800">Name:</span> <%=data.name%></li>
                <li><span class="text-blue-800">Species:</span> <%=data.species%></li>
                <li><span class="text-blue-800">Origin:</span> <%=data.origin.name%></li>
                <li><span class="text-blue-800">Status:</span> <%=data.status%></li>
                <li><img class="rounded-md" src=<%=imgSrc%> alt="avatar"></li>
            <% }else{ %>
              <p class="text-lg font-bold text-blue-800">Search for Rick and Morty's Characters with either IDs or Names👽</p>
            <% } %>
        </ul>
    </div>
    <footer class="text-center col-span-2 md:mt-14">
        <p class="text-green-700 ">All rights reserved to the rick and morty api creators and the developer AMR ABDELAZEEM</p>
    </footer>
    <script>
      const charId = document.getElementById("char-id");
      const charName = document.getElementById("char");
      const btn = document.getElementById("btn");
      charId.addEventListener("input", ()=>{
        charName.disabled = true;
        charName.style.backgroundColor = "red";
        btn.setAttribute("formaction", "/searchId");
      })
      charName.addEventListener("input", ()=>{
        charId.disabled = true;
        charId.style.backgroundColor = "red";
        btn.setAttribute("formaction", "/searchName")
      })
    </script>
  </body>
</html>
